
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<html>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>Hakkımızda</h2>
        </div>
    </div>
    <div class="icerik">
        <img id="foto" src="~/web/Resimler/kadın.jpg" />

        <h4 id="kişisel">KİŞİSEL BİLGİLER </h4>
        <div class="profil">
            <div>Adı Soyadı: Hatice Durak</div>
            <div>Doğum Yeri: Sinop</div>
            <div> Doğum Tarihi: 15.12.1980</div>
            <div>E-Mail: haticeedurak@gmail.com</div>

        </div> <hr>

        <h4 id="egitim"> EĞİTİM BİLGİLERİ </h4>
        <ul>
            <li>Elektrik Elektronik Mühendisliği / Medeniyet Üniversitesi (2027-2031)</li>
            <li>Bilgisayar Mühendisliği / Bahçeşehir Üniversitesi (2049)</li>
            <li>Güngören Anadolu Lisesi(2022-2026)</li>
        </ul> <hr>

        <h4 id="yetkinlik"> YETKİNLİKLER </h4>
        <ol>
            Programming
            <li>C</li>
            <li>JAVA</li>
            <li>C#</li>
        </ol>
        <ol>
            WEB
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
        </ol> <hr>

        <h4 id="seminer"> SEMİNERLER VE SERTİFİKALAR </h4>
        <ul>
            <li>Vera Etkinlik Kişisel Gelişim Zirvesi / Dijital Adaptasyon ve Geleceğin Meslekleri (İstanbul, Türkiye /2020)</li>
            <li>Vera Etkinlik Kişisel Gelişim Zirvesi / Başarısızlık Hikayeleri (İstanbul, Türkiye /2020)</li>
            <li>Yapay Zeka ve Dijital Dönüşüm - Seminer (İstanbul, Türkiye/2021)</li>
            <li>Global AI Hub / Yapay Zekaya Giriş (İstanbul, Türkiye/2021)</li>
            <li>Global AI Hub / Phyton Programlamaya Giriş (İstanbul, Türkiye/2021) </li>
            <li>Öğrenci Kariyeri / Otomotiv Yaz Kampı (İstanbul, Türkiye/2021)</li>
        </ul> <hr>

        <h4 id="dil"> YABANCI DİLLER </h4>
        <ol>
            <li> İngilizce</li>
            <li>Almanca</li>
        </ol> <hr>

        <h4 id="hobi"> HOBİLER</h4>
        <dl>
            <dt> Film İzlemek  </dt>
            <dd>(Bilim Kurgu, Aksiyon, Macera) </dd>

            <dt> Müzik Dinlemek </dt>
            <dd>(Alternatif Rock, Slow Müzik, Akustik Müzik)</dd>
        </dl>
    </div>
</body>
</html>

